body {
    background: url('https://tenor.com/en-GB/view/actividades-gif-7749368736285322254') no-repeat center center fixed;
    background-size: cover;
    animation: move-bg 10s linear infinite;
}

@keyframes move-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000px 0;
    }
}