body {
    background: url('https://www.reddit.com/r/wallpaper/comments/wlz9uo/my_collection_of_8_bit_live_wallpaper_gifs/#lightbox') no-repeat center center fixed;
    background-size: cover;
    animation: move-bg 10s linear infinite;
}

@keyframes move-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000px 0;
    }
}